In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
#read and confirm files from emissions dataset
emission1980_file = "annual_aqi_by_county_1980.csv"
emission1985_file = "annual_aqi_by_county_1985.csv"
emission1990_file = "annual_aqi_by_county_1990.csv"
emission1995_file = "annual_aqi_by_county_1995.csv"
emission2000_file = "annual_aqi_by_county_2000.csv"
emission2005_file = "annual_aqi_by_county_2005.csv"
emission2010_file = "annual_aqi_by_county_2010.csv"
emission2014_file = "annual_aqi_by_county_2014.csv"

emission1980_data_df = pd.read_csv(emission1980_file)
emission1985_data_df = pd.read_csv(emission1985_file)
emission1990_data_df = pd.read_csv(emission1990_file)
emission1995_data_df = pd.read_csv(emission1995_file)
emission2000_data_df = pd.read_csv(emission2000_file)
emission2005_data_df = pd.read_csv(emission2005_file)
emission2010_data_df = pd.read_csv(emission2010_file)
emission2014_data_df = pd.read_csv(emission2014_file)

emission1980_data_df.head()
emission1985_data_df.head()
emission1990_data_df.head()
emission1995_data_df.head()
emission2000_data_df.head()
emission2005_data_df.head()
emission2010_data_df.head()
emission2014_data_df.head()

FileNotFoundError: [Errno 2] File b'annual_aqi_by_county_1980.csv' does not exist: b'annual_aqi_by_county_1980.csv'

In [ ]:
#read and confirm files from mortality dataset
mortality_file = "mort.csv"
mortality_data_df = pd.read_csv(mortality_file)
mortality_data_df.head()

### Transform premise DataFrame

In [5]:
premise_df = premise_data_df[["License Serial Number", "Premises Name", "County ID Code"]]
rename_mapping = {
    "License Serial Number": "id",
    "Premises Name": "premise_name",
    "County ID Code": "county_id",
}
premise_df = premise_df.rename(columns=rename_mapping)
premise_df = premise_df.set_index("id")
premise_df.head()

                         premise_name  county_id
id
1311660  CANA ARRIBA GROCERY NO 2 INC          0
1310023    JOHANA GROCERY & DELI CORP          0
1310024             TKO BEVERAGES LLC          1
1310024             TKO BEVERAGES LLC          1
1311663  181 LEXINGTON AVENUE BBQ LLC          2

### Transform county DataFrame

In [6]:
county_df = county_data_df[["ID", "County Name (Licensee)", "License Count", "County ID Code"]]
rename_mapping = {
    "County Name (Licensee)": "county_name",
    "License Count": "license_count",
    "County ID Code": "county_id",
    "ID": "id"
}
county_df = county_df.rename(columns=rename_mapping)
county_df = county_df.drop_duplicates("id")
county_df = county_df.set_index("id")
county_df.head()

    county_name  license_count  county_id
id
0        ALBANY             77          5
1      ALLEGANY              4         59
2         BRONX            104          0
3        BROOME             14         35
4   CATTARAUGUS              9         41

### Create database connection

In [8]:
rds_connection_string = "postgres:postgres@localhost:5432/Pandas"
#rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
# Confirm tables
engine.table_names()

['premise', 'county']

### Load DataFrames into database

In [10]:
premise_df.to_sql(name = 'premise', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "premise_pkey"
DETAIL:  Key (id)=(1310024) already exists.

[SQL: INSERT INTO premise (id, premise_name, county_id) VALUES (%(id)s, %(premise_name)s, %(county_id)s)]
[parameters: ({'id': 1311660, 'premise_name': 'CANA ARRIBA GROCERY NO 2 INC', 'county_id': 0}, {'id': 1310023, 'premise_name': 'JOHANA GROCERY & DELI CORP', 'county_id': 0}, {'id': 1310024, 'premise_name': 'TKO BEVERAGES LLC', 'county_id': 1}, {'id': 1310024, 'premise_name': 'TKO BEVERAGES LLC', 'county_id': 1}, {'id': 1311663, 'premise_name': '181 LEXINGTON AVENUE BBQ LLC', 'county_id': 2}, {'id': 1310029, 'premise_name': 'AZIZ DELI & GRILL CORP', 'county_id': 1}, {'id': 2213240, 'premise_name': 'COOPERSTOWN BERT CORP', 'county_id': 3}, {'id': 2213242, 'premise_name': 'DALE B HOLDERMAN', 'county_id': 4}  ... displaying 10 of 1863 total bound parameter sets ...  {'id': 1311943, 'premise_name': 'DAIRY SHACK LLC', 'county_id': 10}, {'id': 1311944, 'premise_name': 'TARTINERY LIBERTY LLC', 'county_id': 2})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [12]:
county_df.to_sql(name = 'county', con=engine, if_exists='append', index=True)

In [13]:
county_from_sql_df = pd.read_sql_query("select * from county ", con=engine).head()

In [14]:
county_from_sql_df

   id  county_name  license_count  county_id
0   0       ALBANY             77          5
1   1     ALLEGANY              4         59
2   2        BRONX            104          0
3   3       BROOME             14         35
4   4  CATTARAUGUS              9         41